
<div class="contents">

  <div class="title">

      <h2>いいねした投稿一覧 <%= @user.favorites.count %>件</h2>

  </div>


  <div class="user-list-outer">

    <div class="user-list-inner">

      <% @user.favorited_posts.each do |post| %>

      <!----------------------- 口コミ一覧 ---------------------->
      <%= render partial: 'share/post', locals: { post: post } %>

      <% end %>

    </div>

  </div>

</div>








