
<div class="contents">

  <div class="title">

      <h2>ユーザ一覧  　<%= @users_count %>件</h2>

  </div>


  <div class="user-list-outer">

    <div class="user-list-inner">

      <% @users.each do |user| %>

        <!----------------------- ユーザ一覧 ---------------------->
        <%= render partial: 'share/user_index', locals: { user: user } %>

      <% end %>

    </div>

  </div>


  <!-- ページネーション -->
  <div class="paginate">

      <%= paginate @users %>

  </div>


</div>