

<div class="contents">


  <% if @user_or_post == "1"%>

    <div class="title">

        <h2>ユーザの検索結果   　<%= @users.count %>件</h2>

    </div>

    <div class="user-list-outer">

      <div class="user-list-inner">

        <% @users.each do |user| %>

          <!----------------------- ユーザ一覧 ---------------------->
          <%= render partial: 'share/user', locals: { user: user } %>

        <% end %>

      </div>

    </div>

  <% else %> <!-- @user_or_post == "2"のとき -->


    <div class="title">

        <h2>クチコミの検索結果   　<%= @posts.count %>件</h2>

    </div>


    <% @posts.each do |post| %>

      <!----------------------- 口コミ一覧 ---------------------->
      <%= render partial: 'share/post', locals: { post: post } %>

    <% end %>

  <% end %>

</div>
