
<div class="contents">

	<div class="title">

	    <h2>フォロー一覧   　<%= @user.follower.count %>件</h2>

	</div>


	<!-- following_user は user.rbで命名したテーブル -->
	<% @user.following_user.each do |user| %>

		<!----------------------- ユーザ一覧 ---------------------->
		<%= render partial: 'share/user', locals: { user: user } %>

	<% end %>

</div>