
<div class="contents">

	<div class="title">

	    <h2>フォロー一覧   　<%= @user.followed.count %>件</h2>

	</div>


	<!-- follower_user は user.rbで命名したテーブル -->
	<% @user.follower_user.each do |user| %>

		<!----------------------- ユーザ一覧 ---------------------->
		<%= render partial: 'share/user', locals: { user: user } %>

	 <% end %>

</div>