
<div class="contents">

<div class="title">

	<h2>クチコミの編集</h2>

</div>



<!-- 画像を追加 -->
<p class="sub-title sub-p">画像を追加</p>


<%= render partial: 'form' %>


<%= link_to '← 保存せずにトップに戻る', posts_path,:class=> "post-back" %>

</div>
