<h2>いいねしたユーザー一覧</h2>

<% @post.favorited_users.each do |user| %>

	<%= link_to user_path(user) do %>

		<%= attachment_image_tag user, :user_image, fallback:"no_image.jpg", size:"50x50" %>

	<% end %>

	<%= user.name %>

<% end %>
