/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self*/



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*子要素をfloat状態にした時、親要素に.clearfixをつけて親要素の高さが0になるのを防ぐ*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/* 全てのリンクのリンク下線をなくす(新規登録、ログイン画面以外) */
a {
	text-decoration: none;
}


a:hover {
	opacity:0.8;
	background-color: #fff;
    color:#000;
}

/* -------------------------- */
/*      ▼ ヘッダー部分         */
/* -------------------------- */


.header{
	width:100%;
	margin:50px 0px;
	height:70px;
/*
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;*/
}


.header-contents{
	width:1400px;
	height:70px;
	margin: 0 auto;
	display: flex;
	align-items:center;
}

.header-left{
	width:700px;
	height:50px;
	display: flex;
	align-items:center;
}

/* ロゴ */
.logo{
	line-height: 50px;
	width:30%;
}

/* 検索機能全体 */

.search-bar{
	width:700px;
	margin:0 auto;

}

/* 検索　ユーザor口コミの選択部分 */
.search-select{
	width: 20%;
	height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    color: #2D2926;
    border: 1px solid #e7e7e7;
    background-color: #FFF;
    padding:0px 10px;
}


/* 検索フォーム入力部分 */
.search-form{
	width: 50%;
    border-radius: 4px;
    height: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #2D2926;
    border: 1px solid #e7e7e7;
    padding: 10px 16px;
}

/* 新規登録、ログイン、ログアウト、新規投稿の部分 */
.header-right{
	width: 400px;
	height: 50px;
	display: flex;
	align-items: center;
    margin: 0 0 0 auto;
}

/* 新規登録、ログイン、ログアウトの各ボタン */
.header-right a{
	color: #666;
	padding: 0px 20px;
	font-size: 14px;
	align-items: center;
}


/* 新規登録、ログイン、ログアウト、新規投稿　各要素 */

.header-right-item {
    margin: 0 0 0 auto;
}


/* -------------------------- */
/*  ▼ ヘッダー プルダウン部分    */
/* -------------------------- */


/* プルダウン表示部分 */
.menu{
	display:inline-block;
}


/* マイページ、ログアウトボタン */
.my-link {
    color: #000;
    display: inline-block;
}


/* プルダウンリストの装飾 */
.user-item {
	background: #FFF;
	color: #000;
	cursor: pointer;
	display: block;
	margin-bottom: 1px;
	position: relative;
}


/* こんにちは　"ユーザ名"さん　の部分 */
.user-link {
	color: #fff;
	display: inline-block;
	margin: 10px 0px;
}

/* プルダウンリスト　全体 */
.user-sub-list {
    background: #fff;
    display: none;
    margin: 0 auto;
    padding: 0px 20px;
}

/* プルダウンリスト　個別 */
.sub-user-item {
    border-bottom: 1px solid #222;
    color: #000;
    padding: 15px 0px;
    list-style: none;
    text-align: center;
}



.user-image-circle {
    border-radius: 50%;
    vertical-align: middle;
}


a.new-post {
    background-color: #FFA500;
    padding: 15px 20px;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
}





/* -------------------------- */
/*       ▼内容の共通部分        */
/* -------------------------- */



/* 内容全体 */

.contents {
    width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}

.contents a {
    text-decoration: none;
}


/* タイトル */

.title {
    border-bottom: 0.5px solid #C7BCBC;
    margin-bottom: 13px;
}


/* タイトルの文字 */

.title h2 {
    margin: 0px 0px 30px 30px;
    font-weight: 400;
}




/* -------------------------- */
/*        ▼モーダル部分        */
/* -------------------------- */



#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    overflow-y:scroll;
}

#modalWindow {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -1%);
    background-color: white;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}


#modal-close-btn {
    width: 31%;
    height: 40px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 60px;
    background-color: #ffa500;
    color: white;
    font-size: 20px;
    letter-spacing: 13px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ffa500;
}

#modal-close-btn:hover {
    opacity:0.8;
    background-color: #ffa500;
}


/* モーダルウインドウの配置 */

.modal-message-box {
    margin: 0 auto;
    width: 100%;
}

/* タイトル部分 */

.modal-title {
    border-bottom: 0.5px solid #C7BCBC;
    margin-bottom: 13px;
    width: 80%;
    margin: 0 auto;
}


/* タイトルの文字 */

.modal-title h2 {
    margin: 50px 0px 30px 30px;
    font-weight: 400;
}



.modal-user-list {
    width: 80%;
    margin: 0 auto;
}



/* ユーザ情報の項目 */

.modal-user-list-item {
    width: 100%;
    padding: 15px 0px 20px 0px;
    border-bottom: 1px solid #e7e7e7;
}


/* 各要素の幅 */

dl.modal-user-detail {
    margin: 0 auto;
    margin-top: 60px;
}



/* -------------------------- */
/* ▼新規登録、ユーザログイン画面 */
/* -------------------------- */



/* 新規登録、ログインページ全体 */
.sign{
	padding-left:30px;
}


/* 新規登録、ログイン　の文字 */
.signup,
.signin{
	padding:30px 0px;
	border-bottom:0.5px solid #DCD4D4;
	margin-bottom: 50px;
}

/* 入力フォーム */
.sign-form{
    width: 364px;
    height: 18px;
    padding: 8px 16px;
    font-size: 14px;
	border: 1px solid #e7e7e7;
}

/* 新規登録、ログイン　ボタン */

.sign-btn{
    width: 400px;
    margin: 30px 0px;
    border: solid 1px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 3.5px;
    color: #fff;
    background: #ffa500;
    font-weight: 300;
    border-radius: 7px;
}

.sign-btn:hover {
    opacity: 0.8;
}


/*「パスワードをお忘れの場合」、「新規登録」ボタン */

.signin-description{
    margin-top: 20px;
}

/* 上記ボタンのリンク部分 */
.signin-description a{
	color:#ff4500;
	text-decoration: underline;
}

/* 上記ボタンのリンク部分 訪問後 */
.signin-description a :visited{
	color:#ff4500;
}
