

/* --------------------------------- */
/*          ▼ボードゲーム一覧          */
/* --------------------------------- */


/* ボードゲーム 一覧全体 */

dl.item-list {
    display: flex;
    align-items: center;
}

/* ボードゲーム 各項目名 */

dd.item-spec-list {
    width: 100%;
}


/* ボードゲーム名 */

.item-index-name {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 13px;
    font-size: 18px;
    padding-bottom: 10px;
}


/* ボードゲーム情報 */

.item-list-item {
    font-size: 15px;
    line-height: 2.0;
}


/* ボードゲーム  アイコン */

.item-icon {
    display: inline-block;
    width: 5%;
    text-align: center;
}





/* -------------------------- */
/*         ▼商品詳細           */
/* -------------------------- */



/* 商品部分　全体 */

.post-show-items-index {
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

/* 商品部分　項目横並び */

.post-show-items {
    display: inline-block;
    width: 80%;
}


/* 商品画像 配置 */

.post-show-items.post-show-item-detail-image {
    width: 30%;
    align-items: center;
    max-width: 200px;
}


/* 商品画像 */

.post-item-image {
    padding-top: 85px;
    width: 100%;
    height: 100%;
}


/* テーブル枠 */

dl.post-show-item {
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    height: auto;
    min-width: 640px;
}

/* 商品情報の項目 */

dd.post-item-title {
    font-size: 16px;
    font-weight: 500;
    margin: 31px 0px;
    margin-left: 16px;
    min-width: 200px;
}

/* 商品情報の説明 */

dd.post-item-content {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.4px;
    font-weight: 300;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    max-width: 370px;
}
