

/* --------------------------------- */
/*          ▼ボードゲーム一覧          */
/* --------------------------------- */


/* ボードゲーム 一覧全体 */

.item-list {
    display: flex;
    width: 100%;
    margin: 0 0 auto;
    padding: 20px 0px;
}


/* ボードゲーム　各情報全体 */

.items-lists {
    display: flex;
    margin: 29px 0px;
    align-items: center;
}


/* ボードゲーム 画像 */

.items-index-image {
    width: 25%;
}


img.attachment.item.item_image {
    border-radius: 10px;
}


/* ボードゲーム 各項目名 */

.item-spec-list {
    width: 70%;
    padding: 0px 15px;
    margin: 0 0 0 auto;
}

/* ボードゲーム名 */

.item-index-name {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 13px;
    font-size: 18px;
    padding-bottom: 10px;
    width: 100%;
}


/* ボードゲーム情報 */

.item-list-item {
    font-size: 15px;
    line-height: 2.0;
    display: flex;
    height: 30px;
    width: 100%;
    word-wrap: break-word;
    margin: 10px 0px;
}


/* ボードゲーム  アイコン */

.item-icon {
    display: inline-block;
    width: 5%;
    text-align: center;
}

/* ボードゲーム  情報の中身 */

.item-list-contents {
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 18px;
}



/* --------------------------------- */
/*         ▼ボードゲーム 詳細          */
/* --------------------------------- */



/* 商品部分　全体  子要素<p>は除外 */

.post-show-items-index :not(p) {
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    margin: 18px 0px;
    border-radius: 10px;
}



/* 商品部分　項目横並び */

.post-show-items {
    display: inline-block;
    width:100%;
}


/* 商品画像 配置 */

.post-show-items.post-show-item-detail-image {
    width: 30%;
    align-items: center;
    max-width: 200px;
}


/* 商品画像 */

.item-show-image {
    text-align: center;
    margin: 0 auto;
}


/* テーブル枠 */

dl.post-show-item {
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    height: auto;
    min-width: 640px;
}

/* 商品情報の項目 */

dd.post-item-title {
    font-size: 16px;
    font-weight: 500;
    margin: 31px 0px;
    margin-left: 16px;
    min-width: 200px;
}

/* 商品情報の説明 */

dd.post-item-content {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.4px;
    font-weight: 300;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    max-width: 370px;
}

