

/* ------------------------------------------- */
/*    ▼ユーザ一覧　　・　検索結果一覧 (ユーザ)     */
/* ------------------------------------------- */



.user-list-outer {
    margin: 0 auto;
}


.user-list-inner {
    margin: 0 0 0 auto;
    text-align: left;
    width: 90%;
    max-width: 1000px;
}


.user-detail-items{
    display: flex;
    align-items: center;
    margin: 0 0 auto;
}


.user-list-item {
    width: 39%;
    padding: 13px 24px;
    margin-top: 43px;
    border-bottom: 1px solid #e7e7e7;
    display: inline-block;
    max-width: 236px;
}

.user-spec {
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
    text-align: left;
}

dl.user-detail {
    margin: 0 auto;
}


dt.user-detail-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


dd.user-introduction {
    background: #fff8dc;
    border-radius: 8px;
    margin: 10px 0 0;
    padding: 5px 14px;
    overflow: hidden;
    line-height: 3.0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
}


/* フォローボタン 配置 */

.user-follow {
    margin: 9px 0px;
    text-align: center;
}


/* フォローするボタン　装飾 */



.user-follow-button {
    border: solid 1px #ffa500;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    line-height: 36px;
}

.user-follow-button a{
    color: #ffa500;
    display:block;
}

.user-follow-button a:hover{
    color: #fff;
    background-color: #ffcc99;
    border-radius: 10px;
    opacity:1.0;
}



/* フォロー解除ボタン　装飾 */

.user-unfollow-button {
    border: solid 1px #ffcc99;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    line-height: 36px;
    background-color: #ffcc99;
}

.user-unfollow-button a{
    color: #fff;
    display:block;
}


.user-unfollow-button a:hover{
    color: #ffa500;
    background-color: #fff;
    border-radius: 10px;
    opacity:1.0;
}



/* マイページボタン　装飾 */

.user-my-button {
    border: solid 1px #da6272;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    line-height: 36px;
    background-color: #da6272;
}

.user-my-button a{
    color: #fff;
    display:block;
}


.user-my-button a:hover{
    color: #fff;
    background-color: #da6272;
    border-radius: 10px;
}



/* ----------------- */
/*    ▼ユーザ詳細     */
/* ----------------- */


/* 設定ボタン　装飾 */

a.user-edit-button {
    border: 1px solid #808080;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 10px;
    color: #808080;
}


/* フォロー、設定ボタンの配置 */

.user-show-follow-button {
    text-align: right;
}


/* フォローするボタン */

.user-show-image {
    border-radius: 10px;
}


/* ユーザ画像とそのほかの情報を横並び */

.user-detail-item {
    display: inline-block;
}

/* 画像含むユーザ情報の幅、配置 */

.user-show-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0px 0px 30px;
}

/* ユーザ情報の幅、配置 */

.user-detail-right {
    padding-right: 90px;
    width: 80%;
    padding-left: 35px;
}



/* ユーザ名 */

.user-name {
    font-size: 33px;
    font-weight: 200;
    line-height: normal;
}

/* 性別、年齢 */

.user-show-spec {
    padding-top: 42px;
    font-size: 15px;
}


/* いいね、フォロー、フォロワー */

.user-action {
    font-size: 17px;
    margin-top: 40px;
}


/* ユーザ紹介文 */

.user-show-introduction {
    text-align: left;
    width: 95%;
    height: 70px;
    line-height: 22px;
    font-weight: 300;
    overflow: hidden;
    margin-top: 20px;
    padding: 25px 20px;
    font-size: 16px;
}





/* 口コミ一覧　配置 */

.show-post-index {
    margin-top: 120px;
}


/* 口コミ一覧　もっと見るボタン */

.user-show-post-more {
    float: left;
}

/* 口コミ一覧　もっと見るボタンの色 */

a.post-show-button {
    color: #ff4500;
}


a.post-show-button:hover {
    color: #ff4500;
}


/* 口コミ一覧　投稿日時 */

.user-show-post-ago {
    float: right;
}


/* フォローするボタン */

a.user-show-follow-button {
    padding: 10px;
    border: solid 1px #ffa500;
    color: #ffa500;
    border-radius: 10px;
}

a.user-show-follow-button:hover{
    opacity:0.8;
    color: #fff;
    background-color: #ffcc99;
    border: solid 1px #ffcc99;
}



/* フォロー解除ボタン */

a.user-show-unfollow-button {
    padding: 10px;
    border: solid 1px #ffcc99;
    color: #fff;
    border-radius: 10px;
    background-color: #ffcc99;

}


a.user-show-unfollow-button:hover{
    color: #fff;
    background-color: #ffcc99;
}




/* ----------------- */
/*    ▼ユーザ編集     */
/* ----------------- */


/* 入力フォームの配置 */

.user-edit-form {
    width: 100%;
    height: 74px;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 12px;
}


/* 自己紹介文入力フォーム  ボードゲーム紹介文 入力フォーム  */

.introduction-form {
    width: 93%;
    height: 100px;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    margin-left: 10px;
}


/* 年齢、性別選択フォーム */

.form-select {
    width: 96%;
    height: 38px;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
    background-color: white;
}

/* 更新ボタン */

user-update {
    text-align:center;
}


/* 退会・ユーザ削除ボタン */

.user-destroy-button {
    border: solid 1px #ff6347;
    width: 96%;
    height: 36px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    line-height: 36px;
}



.user-destroy-button a {
    color: #fff;
    display:block;
    text-align: center;
}

.user-destroy-button a:hover {
    opacity: 0.8;
    border-radius: 10px;
    color: #fff;
}


.user-destroy-button a:visited {
    color: #ff6347;
}

